<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if(currentUser) {
      %>
      <h1>Welcome, <%= currentUser.username%></h1>
      <a href="/logout">Log Out</a> |
      <% if(!currentUser.ismember) { %>
        <a href="/join">Become a member</a> |
      <%}%>
      <% } else { %>
      <h1>Welcome to the Members Only Site!</h1>
      <a href="/login">Log In</a> | <a href="/signup">Sign Up </a> | 
    <% } %>
    <a href="/messages/new">Create New Message</a>
    <% if(messages.length > 0) { %>
      <ul>
        <% messages.forEach((message) => { %>
          <li>
            <% if(currentUser && currentUser.ismember) { %>
              <h2><strong>Posted By : <%= message.username %></strong></h2>
            <% } else { %>
              <h2><strong>Posted By : Anonymous</strong></h2>
            <%}%>
            <h3>Title : <%= message.title %></h3>
            <p> Message : <%= message.message %></p>
            <% if(currentUser && currentUser.isadmin) { %>
              <form action="/messages/delete" method="post">
                <input type="hidden" name="messageId" value="<%= message.id %>" />
                <button type="submit">Delete</button>
              </form>
            <%}%>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No messages to display.</p>
    <% } %> 
  </body>
</html>
